---
import Tiktok from "../../assets/icons/Tiktok.astro";
import Twitch from "../../assets/icons/Twitch.astro";
import Twitter from "../../assets/icons/Twitter.astro";
import Download from "../../assets/icons/Download.astro";
---

<div class="w-full flex flex-col gap-10 bg-white mt-10 md:flex-row dark:bg-[#121212]">
  <div class="w-full flex items-center justify-center flex-col md:w-[30%]">
    <ul class="w-[200px] py-1 px-2 rounded-xl justify-between flex gap-2 border border-[#69696973] bg-stone-200 dark:bg-[#2f2f2f65] md:w-full">
      <li>
        <a href="https://www.tiktok.com/@armandocode" target="_blank" aria-label="Encuentra mas sobre mi contenido en Tiktok">
          <Tiktok class="fill-black/80 dark:fill-white duration-100 hover:fill-pink-600" />
        </a>
      </li>
      <li>
        <a href="https://www.twitch.tv/armandocodecr" target="_blank" aria-label="Encuentra mas sobre mi contenido en vivo en Twitch">
          <Twitch class="fill-black/80 dark:fill-white duration-100 hover:fill-[#8B44F7]" />
        </a>
      </li>
      <li>
        <a href="https://x.com/Armando_Code" target="_blank" aria-label="Encuentra mas sobre mi contenido en X">
          <Twitter class="fill-black/80 dark:fill-white duration-100 hover:fill-black" />
        </a>
      </li>
    </ul>
    <picture class="flex mt-1 justify-center p-1 w-[200px] items-center rounded-lg border border-[#69696973] bg-stone-200 dark:bg-[#2f2f2f65] md:w-full">
        <img
          src="/foto.webp"
          alt="my profile"
          width="1200"
          height="1600"
          class="object-cover rounded-lg w-[200px] md:w-full"
        />
    </picture>
    <a 
      href="/download/Curriculum.pdf"
      rel="noopener noreferrer" 
      target='_blank'
      class="w-[200px] py-1 px-2 rounded-xl mt-1 justify-center font-medium flex gap-2 border border-[#69696973] bg-stone-200 dark:bg-[#2f2f2f65] md:w-full"
    >
      <Download />
      Curriculum
    </a>
  </div>
  <article class="w-full flex flex-col gap-5 justify-center items-center md:w-[70%]">
    <p>
      👨‍💻 22 años. Soy de <strong class="cr-strong">Costa Rica</strong>. Desde que era pequeño la tecnología y los computadores
      siempre me han llamado la atención. Hoy en día, después de estar años preparandome, estoy viviendo mis primeras
      experiencias profesionales como <em class="text-yellow-500 inline dark:text-yellow-300">Desarrollador de Software.</em>
    </p>
    <p>
      Personalmente, <em class="text-orange-500 inline dark:text-orange-300">soy una persona al que le sastiface ser resoluctivo</em>. Lo cual hace que me genere mucha sastifacción
      ver cómo mis aplicaciones reducen la carga de trabajo de distintas áreas de la empresa a la cual trabajo actualmente.
    </p>
    <p>
      Una de mis mayores virtudes es que soy una persona que <em class="text-sky-500 inline">siempre busca adaptarse a distintas situaciones o retos que se
      presenten</em>. Soy capáz de aprender y resolver lo que me proponga por mi propia cuenta, ya que para mi el aprendizaje constante
      es una de las capacidades más necesarias para crecer y ser valioso dentro de la industria del <em class="text-yellow-500 dark:text-yellow-300">Desarrollo de Software.</em>
    </p>
  </article>
</div>   

<style>
  .cr-strong{
    background: linear-gradient(45deg, rgba(20,38,190,1) 9%, rgba(255,255,255,1) 44%, rgba(208,0,0,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
  }
</style>