---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Experience from '../sections/Experience.astro';
import Projects from '../sections/Projects.astro';
import MyStackScroll from '../sections/MyStackScroll.astro';
import AboutMe from '../sections/AboutMe.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Welcome to Astro." description=''>
	<main class="w-full flex flex-col px-5 sm:px-10 max-w-[800px] md:px-0">
		<Hero />
		<Experience />
		<MyStackScroll />
		<Projects />
		<AboutMe />
		<Footer />
	</main>
</Layout>