---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Experience from '../sections/Experience.astro';
import Projects from '../sections/Projects.astro';
import MyStackScroll from '../sections/MyStackScroll.astro';
import AboutMe from '../sections/AboutMe.astro';
import Footer from '../sections/Footer.astro';
---

<Layout 
	title="Porfolio de Armando Cortés Murillo - Desarrollador y Programador Web con 15 años de experiencia" 
	description="Contrata a midudev para crear tu aplicación web. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas tanto del
	lado del frontend como del backend."
>
	<main class="w-full flex flex-col px-5 sm:px-10 max-w-[800px] md:px-0">
		<Hero />
		<Experience />
		<MyStackScroll />
		<Projects />
		<AboutMe />
		<Footer />
	</main>
</Layout>