---
import Person from "../assets/icons/Person.astro";
import Card3D from '../components/About/Card3D.astro'
---

<section class="w-full flex flex-col justify-start my-32" id="sobre-mi">
    <div class="flex gap-3 items-center">
        <Person width="32" heigth="32" />
        <h2 class="text-3xl text-black/80 font-bold dark:text-white">Sobre mi</h2>
    </div>
    <Card3D />
</section>