---
import { Image } from "astro:assets";

import LinkedIn from "../assets/icons/LinkedIn.astro";
import Github from "../assets/icons/Github.astro";
import Mail from "../assets/icons/Mail.astro";
import CardLink from "../components/UI/CardLink.astro";
---

<section class="py-32">
  <Image
    src="/pixelart.png"
    alt="My pixelart profile"
    width={1024}
    height={1024}
    class="max-w-[100px]"
  />
  <article class="flex flex-col gap-4 mt-6">
    <h1 class="text-4xl font-bold text-black/80 dark:text-white">
      Armando Cortés Murillo
    </h1>
    <p class="text-pretty font-medium text-lg dark:text-white">
      Casi 1 año de experiencia.<span class="text-sky-500 font-medium"> Desarrollador Full-Stack</span> y
      <span class="text-yellow-500 font-medium"> creador de contenido sobre programación.</span> Me especializo en 
      aprender y adaptarme rápidamente a nuevos desafíos, valorando el aprendizaje continuo como clave para el éxito en el sector.
    </p>
  </article>

  <nav class="flex gap-5 mt-6 container-cards">
    <CardLink
      Icon={LinkedIn}
      href="https://www.linkedin.com/in/armandocode/"
      text="Linkedin"
      widthIcon="20"
      heigthIcon="20"
      styles="px-4 py-2 flex gap-2 items-center justify-start rounded-full bg-stone-200 text-black/80 border border-[#4B4B4B] dark:text-white dark:bg-[#3a3a3a]"
    />
    <CardLink
      Icon={Github}
      href="https://github.com/armandocodecr"
      text="Github"
      widthIcon="20"
      heigthIcon="20"
      styles="px-4 py-2 flex gap-2 items-center justify-start rounded-full bg-stone-200 text-black/80 border border-[#4B4B4B] dark:text-white dark:bg-[#3a3a3a]"
    />
    <CardLink
      Icon={Mail}
      href="mailto:armando.cr.murillo@gmail.com"
      text="Contáctame"
      widthIcon="20"
      heigthIcon="20"
      styles="px-4 py-2 flex gap-2 items-center justify-start rounded-full bg-stone-200 text-black/80 border border-[#4B4B4B] dark:text-white dark:bg-[#3a3a3a]"
    />
  </nav>
</section>

<style>
  .container-cards {
    /* background-color: #3b3b3b; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 175px));
  }
</style>
